// Color Variables.
///////////////////
$mainColor : #73c5a5;
$secondaryColor : #333;
$thirdColor : #fff;
$transitionMainColor : #4e8c81;

// Document Style.
//////////////////
$mainFontFamily : Georgia , serif;
$secondaryFontFamily : Helvetica , Arial , sans-serif;
$maxWidthContainer : 1100px;
