// Global Styles.
////////////////

body {
    cursor: default;
    font-family: $secondaryFontFamily;
    margin: 0 auto;
    padding: 0 50px 0;
    max-width: $maxWidthContainer;
    width: 100vw;
}

// Helpers Styles.
//////////////////

.clearing-margin {
    margin-top: 0;
}

// Title Styles.
////////////////

.main-title-page , .sub-title-page {
    display: block;
    text-align-last: center;
}

.main-title-page {
    font-family: $mainFontFamily;
    font-size: 45px;
    margin-bottom: 10px;
}

.sub-title-page {
    color: $secondaryColor;
    font-size: 14px;
}

// Left Column Styles.
//////////////////////

.left-column {
    background-color: $secondaryColor;
    color: $thirdColor;
    float: left;
    height: 720px;
    position: relative;
    top: 0;
    width: 55%;
    z-index: 0;
}

.event-backgroung-img {
    height: -webkit-fill-available;
    opacity: 0.6;
    position: absolute;
    top: 0;
    width: -webkit-fill-available;
    z-index: -5;
}

.arrow {
    bottom: 50%;
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: 45px;
}

.arrow-left {
    left: -45px;
}

.arrow-right {
    right: -45px;
}

.main-event-inf-module {
    color: $thirdColor;
    padding: 20px 0 0 14px;
}

.mainEventListItem {
    list-style: none;
}

.next-event {
    background-color: $mainColor;
    color: $secondaryColor;
    display: inline-block;
    font-family: $mainFontFamily;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
}

.main-event-inf-module h2{
    font-family: $mainFontFamily;
    font-size: 40px;
    margin-bottom: 10px;
}

.main-event-inf-module h3{
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 10px;
}

.main-event-inf-module h4{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.main-event-inf-module a{
    color: $thirdColor;
    cursor: pointer;
    font-size: 10px;
    padding: 10px;
    padding-left: 70%;
    text-decoration: none;
}

.main-event-btn-details {
    background-color: $mainColor;
    bottom: 0;
    cursor: pointer;
    padding: 10px 0;
    position: absolute;
    right: 0;
    text-align: right;
    width: 100%;
    &:hover {
        background-color: $transitionMainColor;
        transition: 0.6s ease;
    }
}

// Right Column Styles.
///////////////////////

.right-column {
    display: inline-block;
    width: 45%;
}

.bucket-event-inf-module {
    margin: 20px 0 30px 60px;
    width: 70%;
    &:hover {
        background-color: $mainColor;
        border-left: 15px solid $mainColor;
        padding-left: 20px;
        transition: 0.6s ease-out;
    }
}

.bucket-event-inf-module h2{
    font-family: $mainFontFamily;
    font-size: 28px;
    margin: 0;
    margin-bottom: 10px;
}

.bucket-event-inf-module h3{
    font-size: 14px;
    font-weight: normal;
    margin: 0;
    margin-bottom: 10px;
}

.bucket-event-inf-module h4{
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    margin-bottom: 10px;
}

.bucket-event-inf-module a{
    background-color: $thirdColor;
    border: 1px solid $secondaryColor;
    border-radius: 100px;
    color: $secondaryColor;
    font-size: 12px;
    font-weight: bold;
    height: 30px;
    padding: 10px;
    text-decoration: none;
    &:hover {
        background-color: $transitionMainColor;
        color: $thirdColor;
        transition: 0.9s ease;
    }
}

// Extend values.
/////////////////

%active-bucket-event-wrapper {
    margin: 20px 0 30px 60px;
    width: 70%;
    &:hover {
        background-color: $mainColor;
        border-left: 15px solid $mainColor;
        padding-left: 20px;
        transition: 0.6s ease-out;
    }
}

%active-bucket-event-h2 h2{
    font-family: $mainFontFamily;
    font-size: 28px;
    margin: 0;
    margin-bottom: 10px;
}

%ative-bucket-event-h3 h3{
    font-size: 14px;
    font-weight: normal;
    margin: 0;
    margin-bottom: 10px;
}

%ative-bucket-event-h4 h4{
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    margin-bottom: 10px;
}

%ative-bucket-event-a a{
    background-color: $thirdColor;
    border: 1px solid $secondaryColor;
    border-radius: 100px;
    color: $secondaryColor;
    font-size: 12px;
    font-weight: bold;
    height: 30px;
    padding: 10px;
    text-decoration: none;
    &:hover {
        background-color: $transitionMainColor;
        color: $thirdColor;
        transition: 0.9s ease;
    }
}

.activeStateEvent {
    @extend%active-bucket-event-wrapper;
    @extend %active-bucket-event-h2;
    @extend %ative-bucket-event-h3;
    @extend %ative-bucket-event-h4;
    @extend %ative-bucket-event-a;
    border-left: 15px solid $mainColor;
    padding-left: 10px;
}

.deactivateStateEvent {
    @extend%active-bucket-event-wrapper;
    @extend %active-bucket-event-h2;
    @extend %ative-bucket-event-h3;
    @extend %ative-bucket-event-h4;
    @extend %ative-bucket-event-a;
}
